/* reset css */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/* css variables */
:root {
	--red-primary: hsl(0, 100%, 74%);
	--green-primary: hsl(154, 59%, 51%);
	--green-primary-hover: #74dbaf;
	--blue-accent: hsl(248, 32%, 49%);
	--dark-blue-neutral: hsl(249, 10%, 26%);
	--grayish-blue-neutral: hsl(246, 25%, 77%);
	--shadow: rgba(62, 60, 73, 0.218);
	--shadow-cta-button: #227a54;
	--white: #fff;
}

body {
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
}

.error {
	background: white url('/images/icon-error.svg');
	background-position: 95% 50%;
	background-repeat: no-repeat;
	border: 2px solid var(--red-primary) !important;
}

.error-message {
	text-align: right;
	font-size: 0.7rem;
	color: var(--red-primary);
}

input[type='email'].error::placeholder {
	color: var(--red-primary);
}

/* MOBILE DESIGN */

/* layout */
main {
	background: url('/images/bg-intro-mobile.png'), var(--red-primary);
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.container {
	text-align: center;
	padding: 0 1.5rem;
	margin-top: 1.3rem;
}

/* about container */
.about-container {
	color: var(--white);
}

.title {
	color: var(--white);
	line-height: 2.3rem;
	font-size: 1.8rem;
	margin: 0 0 1.4rem 0;
}

.about-text {
	margin: 0 0 4rem 0;
	line-height: 1.6rem;
}

/* cta container */
.cta-price {
	background-color: var(--blue-accent);
	color: var(--white);
	padding: 1.3rem 3rem;
	border-radius: 10px;
	box-shadow: 0 7px var(--shadow);
	margin-bottom: 1.4rem;
}

.bold {
	font-weight: 600;
}

.cta-form-container {
	background-color: var(--white);
	padding: 1.5rem;
	border-radius: 10px;
	box-shadow: 0 7px var(--shadow);
}

.cta-form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin-bottom: 0.9rem;
}

.cta-form input {
	width: 100%;
	padding: 1.1rem;
	font-weight: 600;
	font-family: inherit;
	border: 1px solid var(--grayish-blue-neutral);
	border-radius: 7px;
}

.cta-form button {
	text-transform: uppercase;
	background-color: var(--green-primary);
	padding: 1.2rem;
	border: none;
	border-radius: 5px;
	font-weight: 600;
	color: var(--white);
	letter-spacing: 0.1rem;
	box-shadow: 0 3px var(--shadow-cta-button);
}

.cta-form button:hover {
	background-color: var(--green-primary-hover);
	cursor: pointer;
}

.term-service-text {
	font-size: 0.7rem;
	padding: 0 1rem;
	color: var(--grayish-blue-neutral);
}

.term-service-text a:link {
	text-decoration: none;
	font-weight: 600;
	color: var(--red-primary);
}

/* DESKTOP DESIGN */
@media (min-width: 1440px) {
	main {
		background: url('/images/bg-intro-desktop.png'), var(--red-primary);
		background-repeat: no-repeat;
		background-size: cover;
	}

	.container {
		display: flex;
		max-width: 1200px;
		justify-content: center;
		align-items: center;
		gap: 30px;
	}

	.about-container {
		width: 50%;
		text-align: left;
	}

	.cta-container {
		width: 50%;
	}

	.title {
		font-size: 3.2rem;
		line-height: 3.3rem;
		margin-bottom: 2rem;
		margin-top: -0.5rem;
	}

	.about-text {
		margin: 0;
	}

	.cta-form-container {
		padding: 3rem;
	}

	.cta-price {
		margin-bottom: 1.8rem;
	}
}
